body {
    font-family: helvitica;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.title{
    text-align: center;
}

.tools{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.toolElement{
    border: 5px solid;
    border-color: rgb(65, 65, 130);
    border-style: outset;
}

.colors{
    position: absolute;
    left: 1%;
}

#palette-symbol{
    padding: 10px;
}

.color-button{
    height: 40px;
    width: 60px;
    border: 5px solid;
    border-color: rgb(65, 65, 130);
    border-style: outset;
}

#black-button{
    background-color: black;
}

#white-button{
    background-color: white;
}

#red-button{
    background-color: red;
}

#orange-button{
    background-color: orange;
}

#yellow-button{
    background-color: yellow;
}

#green-button{
    background-color: green;
}

#blue-button{
    background-color: blue;
}

#indigo-button{
    background-color: indigo;
}

#violet-button{
    background-color: violet;
}

#canvas{
    display: flex;
    justify-content: center;
    border: 5px solid;
    border-color: rgb(65, 65, 130);
    background: rgb(160, 160, 160);
    cursor: crosshair;

    margin: auto;
}