body {
    font-family: helvitica;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.title{
    text-align: center;
    padding: 10px;
}

.tools{
    padding: 10px;
    display: flex;
    justify-content: center;
}

.colors{
    padding: 10px;
    position: absolute;
    left: 0%;
}

.canvasDiv{
    display: flex;
    justify-content: center;
}

#canvas{
    border: 5px solid;
    border-color: rgb(65, 65, 130);
    background: rgb(160, 160, 160);
    cursor: crosshair;

    margin: auto;
}